<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.diagnostics>
		<switches>
			<!-- 5.4.3 — Уровень по умолчанию: Warning -->
			<add name="DataOperationsSwitch" value="" />
			<!--
        Уровни TraceSwitch:
          0 = Off
          1 = Error
          2 = Warning
          3 = Info
          4 = Verbose
      -->
		</switches>
	</system.diagnostics>
</configuration>